In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
dis = 'drive/My Drive/data_final/'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [ ]:
data = pd.read_csv(dis + 'data1.csv')

##Count Small Group

In [ ]:
agg_features = data.groupby('client_dk')['amount'].agg(['mean','max','min','std','sum','count']).reset_index()

counter_df_train = data.groupby(['client_dk','small_group'])['amount'].count()
cat_counts_train = counter_df_train.reset_index().pivot(index='client_dk', \
                                                      columns='small_group',values='amount')
cat_counts_train = cat_counts_train.fillna(0)
cat_counts_train.columns = ['small_group_'+str(i) for i in cat_counts_train.columns]

In [ ]:
train_target = pd.read_csv(dis + 'train_target.csv')
train_target['is_train'] = 1

train_target = train_target.merge(cat_counts_train, how = 'outer', on = 'client_dk')
train_target = train_target.fillna(0)
for i in [27, 32,	41,	45,	67,	73,	81,	88]:
    train_target[str(i)] = train_target[str(i)].astype(int)
 
train_target['is_train'] = train_target['is_train'].astype(int)

train_target = train_target.set_index('client_dk')

## Small Group Rate

In [ ]:
agg_features = agg_features.reindex(train_target.index)

In [ ]:
for i in cat_counts_train.columns:
  train_target[i + '_rate'] = train_target[i]/agg_features['count']

In [ ]:
train_target.to_csv(dis + 'predata6.csv')

## Small Group Sum

In [ ]:
counter_df_train = data.groupby(['client_dk','small_group'])['amount'].sum()
cat_counts_train = counter_df_train.reset_index().pivot(index='client_dk', \
                                                      columns='small_group',values='amount')
cat_counts_train = cat_counts_train.fillna(0)
cat_counts_train.columns = ['small_group_sum_'+str(i) for i in cat_counts_train.columns]

In [ ]:
train_target = train_target.merge(cat_counts_train, how = 'outer', on = 'client_dk')

In [ ]:
train_target.to_csv(dis + 'predata_sum.csv')

## Small group mean

In [ ]:
counter_df_train = data.groupby(['client_dk','small_group'])['amount'].mean()
cat_counts_train = counter_df_train.reset_index().pivot(index='client_dk', \
                                                      columns='small_group',values='amount')
cat_counts_train = cat_counts_train.fillna(0)
cat_counts_train.columns = ['small_group_mean_'+str(i) for i in cat_counts_train.columns]

In [ ]:
train_target = train_target.merge(cat_counts_train, how = 'outer', on = 'client_dk')

In [ ]:
train_target.to_csv(dis + 'predata_mean.csv')

## Small Group std

In [ ]:
counter_df_train = data.groupby(['client_dk','small_group'])['amount'].std()
cat_counts_train = counter_df_train.reset_index().pivot(index='client_dk', \
                                                      columns='small_group',values='amount')
cat_counts_train = cat_counts_train.fillna(0)
cat_counts_train.columns = ['small_group_std_'+str(i) for i in cat_counts_train.columns]

In [ ]:
train_target = train_target.merge(cat_counts_train, how = 'outer', on = 'client_dk')

In [ ]:
train_target.to_csv(dis + 'predata_std.csv')

## Last buy

In [ ]:
train_target = pd.read_csv(dis + 'predata_std.csv', index_col = 'client_dk')

In [ ]:
train_target = train_target.reindex(sorted(train_target.index))

In [ ]:
train_target

           27  32  ...  small_group_std_195  small_group_std_196
client_dk          ...
0           0   0  ...                  0.0                  0.0
1           0   0  ...                  0.0                  0.0
2           0   0  ...                  0.0                  0.0
3           0   0  ...                  0.0                  0.0
4           0   0  ...                  0.0                  0.0
...        ..  ..  ...                  ...                  ...
49995       0   0  ...                  0.0                  0.0
49996       0   1  ...                  0.0                  0.0
49997       0   0  ...                  0.0                  0.0
49998       0   0  ...                  0.0                  0.0
49999       1   0  ...                  0.0                  0.0

[50000 rows x 989 columns]

In [ ]:
import progressbar
import time
bar = progressbar.ProgressBar().start() # Создаём новый progress bar

d = [[] for i in range(199)]
for i in range(199):
  c = data.loc[data['small_group'] == i].groupby(['client_dk', 'trans_date'])['amount'].sum()
  for j in range(50000):
    if j in c.index:
      c0 = list(c[j].index)
      d[i].append((387 - c0[-1]))
    else:
      d[i].append(-1)
  bar.update((i + 1))

| |      #                                          | 199 Elapsed Time: 0:14:42

In [ ]:
for i in range(199):
  train_target['last_buy_small_group_' + str(i)] = d[i]

In [ ]:
train_target.to_csv(dis + 'predata_last_buy.csv')

## Delta days

In [ ]:
import progressbar
import time
bar = progressbar.ProgressBar().start() # Создаём новый progress bar

d = [[] for i in range(199)]
for i in range(199):
  c = data.loc[data['small_group'] == i].groupby(['client_dk', 'trans_date'])['amount'].sum()
  for j in range(50000):
    if j in c.index:
      c0 = list(c[j].index)
      if len(c0) > 1:
        d[i].append((c0[-1] - c0[0])/(len(c0) - 1))
      else:
        d[i].append(387)
    else:
      d[i].append(-1)
  bar.update((i + 1))

| |                                    #            | 199 Elapsed Time: 0:14:55

In [ ]:
for i in range(199):
  train_target['delta_day_small_group_' + str(i)] = d[i]

In [ ]:
train_target.to_csv(dis + 'predata_delta_day.csv')

## Weekly Friction

In [ ]:
train_target = pd.read_csv(dis + 'predata_delta_day.csv', index_col = 'client_dk')

In [ ]:
mas = [27, 32,	41,	45,	67,	73,	81,	88]

In [ ]:
def GetWeekly(data, l):
    td = data.loc[(data['trans_date'] >= l) & (data['trans_date'] < l + 7)]

    counter_df_train = td.groupby(['client_dk','small_group'])['amount'].count()
    cat_counts_train = counter_df_train.reset_index().pivot(index='client_dk', \
                                                      columns='small_group',values='amount')
    cat_counts_train = cat_counts_train.fillna(0)
    cat_counts_train.columns = [i for i in cat_counts_train.columns]

    for i in cat_counts_train.columns:
      cat_counts_train[i] = cat_counts_train[i].astype(int)

    return cat_counts_train[[27, 32,	41,	45,	67,	73,	81,	88]]

In [ ]:
app = pd.DataFrame(train_target.index).set_index('client_dk')
app = app.merge(GetWeekly(data, 0), how = 'outer', on = 'client_dk')

import progressbar
import time
bar = progressbar.ProgressBar().start()

for i in range(1, 51):
  app += GetWeekly(data, i*7)
  app = app.fillna(0)
  bar.update(i)

\ |                                            #     | 50 Elapsed Time: 0:02:05

In [ ]:
app /= 50

In [ ]:
app.columns = ['friction_' + str(i) for i in mas]

In [ ]:
train_target = train_target.merge(app, how = 'outer', on = 'client_dk')

In [ ]:
train_target.to_csv(dis + 'predata_weekly.csv')

## Trans date

In [ ]:
def Standart(p):
  for i in p.columns:
    p[i][p[i] > 0] = 1
  for i in p.columns:
    p[i] = p[i].astype(int)

In [ ]:
df_filter = data['small_group'].isin([27, 32,	41,	45,	67,	73,	81,	88])
dl = data[df_filter]

p = dl.groupby(['client_dk', 'trans_date'])['amount'].count().reset_index().pivot(index = 'client_dk',
                                                                                                               columns = 'trans_date',
                                                                                                               values = 'amount').fillna(0)

p.columns = ['day_' + str(i) for i in p.columns]

In [ ]:
Standart(p)

In [ ]:
train_target = train_target.merge(p, how = 'outer', on = 'client_dk').fillna(0)

In [ ]:
for i in p.columns:
  train_target[i] = train_target[i].astype(int)

In [ ]:
train_target.to_csv(dis + 'predata_daily.csv')

## Previous buy

In [ ]:
train_target = pd.read_csv(dis + 'predata_delta_day.csv', index_col = 'client_dk')

In [ ]:
train_b = train_target.drop(['last_buy_small_group_' + str(i) for i in range(199)], axis =  1)
train_b = train_b.drop(['delta_day_small_group_' + str(i) for i in range(199)], axis = 1)
train_b_exp = train_target[['delta_day_small_group_' + str(i) for i in range(199)]]

In [ ]:
import progressbar
import time
bar = progressbar.ProgressBar().start() # Создаём новый progress bar

data0 = data.loc[data['trans_date'] < 200]

d = [[] for i in range(199)]
for i in range(199):
  c = data0.loc[data0['small_group'] == i].groupby(['client_dk', 'trans_date'])['amount'].sum()
  for j in range(50000):
    if j in c.index:
      c0 = list(c[j].index)
      d[i].append((200 - c0[-1]))
    else:
      d[i].append(-1)
  bar.update((i + 1))

| |     #                                           | 199 Elapsed Time: 0:08:59

In [ ]:
for i in range(199):
  train_b['last_buy_small_group_' + str(i)] = d[i]

In [ ]:
def GetWeekly(data, l):
    td = data.loc[(data['trans_date'] >= l) & (data['trans_date'] < l + 7)]

    counter_df_train = td.groupby(['client_dk','small_group'])['amount'].count()
    cat_counts_train = counter_df_train.reset_index().pivot(index='client_dk', \
                                                      columns='small_group',values='amount')
    cat_counts_train = cat_counts_train.fillna(0)
    cat_counts_train.columns = [i for i in cat_counts_train.columns]

    for i in cat_counts_train.columns:
      cat_counts_train[i] = cat_counts_train[i].astype(int)

    return cat_counts_train[[27, 32,	41,	45,	67,	73,	81,	88]]

In [ ]:
bc = GetWeekly(data, 200)
for i in [27, 32,	41,	45,	67,	73,	81,	88]:
  bc[i][bc[i] > 0] = 1

In [ ]:
for i in [27, 32,	41,	45,	67,	73,	81,	88]:
  train_b[str(i)] = bc[i]

In [ ]:
train_b = train_b.fillna(0)

In [ ]:
for i in [27, 32,	41,	45,	67,	73,	81,	88]:
    train_b[str(i)] = train_b[str(i)].astype(int)

In [ ]:
train_b = train_b.merge(train_b_exp, on = 'client_dk', how='outer')

In [ ]:
train_b.index = list(map(lambda x: 'a' + str(x), train_b.index))

In [ ]:
train_target[['last_buy_small_group_' + str(i) for i in range(199)]]

           last_buy_small_group_0  ...  last_buy_small_group_198
client_dk                          ...
0                             112  ...                        -1
1                              23  ...                        -1
2                              49  ...                        -1
3                               8  ...                        -1
4                               1  ...                        -1
...                           ...  ...                       ...
49995                          -1  ...                        -1
49996                          44  ...                        -1
49997                           7  ...                        -1
49998                           3  ...                        -1
49999                           0  ...                        -1

[50000 rows x 199 columns]

In [ ]:
train_b[['last_buy_small_group_' + str(i) for i in range(199)]]

        last_buy_small_group_0  ...  last_buy_small_group_198
a0                          68  ...                        -1
a1                          24  ...                        -1
a2                           4  ...                        -1
a3                          10  ...                        -1
a4                          42  ...                        -1
...                        ...  ...                       ...
a49995                      -1  ...                        -1
a49996                      54  ...                        -1
a49997                       4  ...                        -1
a49998                       2  ...                        -1
a49999                       6  ...                        -1

[50000 rows x 199 columns]

In [ ]:
train_b = train_b.loc[train_b['is_train'] == 1]

In [ ]:
train_target = pd.concat([train_target, train_b], ignore_index=True)
train_target.index.name = 'client_dk'

In [ ]:
train_target.to_csv(dis + 'predata_extended.csv')

## Function of Extend Data

In [ ]:
import progressbar
import time

def GetMoreTrain(data, train_target, l):
  col = train_target.columns[989:]
  train_b = train_target.drop(col, axis = 1)
  train_b_exp = train_target[col[199:]]

  data0 = data.loc[data['trans_date'] < l]

  d = [[] for i in range(199)]
  for i in range(199):
    c = data0.loc[data0['small_group'] == i].groupby(['client_dk', 'trans_date'])['amount'].sum()
    for j in range(50000):
      if j in c.index:
        c0 = list(c[j].index)
        d[i].append((200 - c0[-1]))
      else:
        d[i].append(-1)
    bar.update((i + 1))

  for i in range(199):
    train_b['last_buy_small_group_' + str(i)] = d[i]

  bc = GetWeekly(data, 200)
  for i in [27, 32,	41,	45,	67,	73,	81,	88]:
    bc[i][bc[i] > 0] = 1

  for i in [27, 32,	41,	45,	67,	73,	81,	88]:
    train_b[str(i)] = bc[i]

  train_b = train_b.fillna(0)

  for i in [27, 32,	41,	45,	67,	73,	81,	88]:
    train_b[str(i)] = train_b[str(i)].astype(int)

  train_b = train_b.merge(train_b_exp, on = 'client_dk', how='outer')

  train_b.index = list(map(lambda x: 'a' + str(x), train_b.index))

  train_b = train_b.loc[train_b['is_train'] == 1]

  train_target = pd.concat([train_target, train_b], ignore_index=True)
  train_target.index.name = 'client_dk'

  return train_target